.Logo {
  padding: 9px 10px 4px 10px;
  border-radius: 50%;
  position: absolute;
  left: 0;
}

.Navbar {
  height: 50px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: flex-end;
}

